Package: com.animasikd.alwaysonnative
Name: AlwaysOnNative
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Включение оригинального Always-On Display в настройках экрана!
Maintainer: animasikd
Author: animasikd
Section: Tweaks